<html>
  <head>
    <style>
      body { <%= color %> }
    </style>
  </head>
  <body>
<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

<p>
  <%= if cheat != nil
      NUMBER
      end %>
  <%= message %>
</p>
